{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
    <!-- create profile form -->
    <section id="register-page" class="content auth">
        <form id="register" method="post">
            <div class="container">
                <div class="brand-logo"></div>
                <h1>Create Profile</h1>

                {% csrf_token %}
                {{ form.username.errors }}
                {{ form.username|placeholder:'Username' }}
                {{ form.email.errors }}
                {{ form.email|placeholder:'Email' }}
                {{ form.password1.errors }}
                {{ form.password2.errors }}
                {{ form.password1|placeholder:'Password' }}
                {{ form.password2|placeholder:'Repeat Password' }}

                <input class="btn submit" type="submit" value="Create Profile">
            </div>
        </form>
        <div class="second-option">

            <!-- Link to Register Page-->
            <p style="color: white">Have an account? <a href="{% url 'login-profile' %}">Log in</a></p>
        </div>
    </section>
{% endblock %}
