{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- profile details section -->
    <section id="game-details">
        <h1>Profile Details</h1>
        <div class="info-section" style="min-height: 300px;">
            <div class="game-header">

                {% if not request.user.profile_picture %}
                    <!-- default profile image (if the user does NOT have any)-->
                    <img class="game-img" src="{% static 'images/default-user.jpg' %}" alt='profile-image'/>
                {% else %}
                    <!-- if the user has a profile image -->
                    <img class="game-img" src="{{ request.user.profile_picture }}" alt='profile-image'/>
                {% endif %}


                <!-- user email -->

                <p class="text">Cars: {{ cars.count }}</p>
                <p class="text">Username: {{ request.user }}</p>
                <p class="text">Email: {{ request.user.email }}</p><br><br>


                <!-- Edit/Delete buttons -->
                <div class="buttons">
                    <a href="{% url 'edit-profile' %}" class="button">Edit</a>
                    <a href="{% url 'delete-profile' %}" class="button">Delete</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}